<div class="row gallery">
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <img src="../../assets/images/gallery-page/selby.jpg" class="gallery-image" />
        <span><b>World Snooker Championship final: Mark Selby wins fourth world title</b></span>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <img src="../../assets/images/gallery-page/trinamool.jpg" class="gallery-image" />
        <span><b>West Bengal election: Modi loses a battle in the 'war for Indian democracy'</b></span>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <img src="../../assets/images/gallery-page/europe.jpg" class="gallery-image" />
        <span><b>Europe's vaccination campaign has picked up pace and the number of infections is starting to fall.</b></span>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <img src="../../assets/images/gallery-page/taiwan.jpg" class="gallery-image" />
        <span><b>Taiwan Strait: Claim man who crossed sea in dinghy investigated</b></span>
    </div>
</div>
<br>
<div class="row gallery">
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <img src="../../assets/images/gallery-page/death.jpg" class="gallery-image" />
        <span><b> Is among the worst affected by the second wave of coronavirus sweeping India.</b></span>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <img src="../../assets/images/gallery-page/chakravarthy.jpg" class="gallery-image" />
        <span><b> KKR and RCB on Monday has been postponed after two KKR players tested positive for Covid-19.</b></span>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <img src="../../assets/images/gallery-page/butler.jpg" class="gallery-image" />
        <span><b>IPL 2021: Jos Buttler hits maiden T20 hundred for Rajasthan Royals against Sunrisers Hyderabad</b></span>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <img src="../../assets/images/gallery-page/selby.jpg" class="gallery-image" />
    </div>
</div>