.container{
    padding-top: 50px;
}
.news{
    color: orangered;
}
.cardimage{
    padding-bottom: 15px;
}
.mainContent{
    padding-bottom: 20px;
}
.container .head{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: orangered;
}
.imgcol{
    padding-top: 20px;
}
.home-image{
    width: 100%;
    height: 100%;
}
.content{
    font-size: 21px;
}
.newsDetails{
    padding-top: 20px;
}
.title{
    color: orangered;
}